@font-face {
  font-family: "iconfont"; /* Project id 2329651 */
  src: url('iconfont.woff2?t=1629427033101') format('woff2'),
       url('iconfont.woff?t=1629427033101') format('woff'),
       url('iconfont.ttf?t=1629427033101') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrows_rotate:before {
  content: "\e6aa";
}

.icon-pingban:before {
  content: "\e737";
}

.icon-ziduanguanli:before {
  content: "\e7da";
}

.icon-xitongguanli-caidanguanli:before {
  content: "\e628";
}

.icon-yonghuguanli:before {
  content: "\e642";
}

.icon-jiaoseguanli:before {
  content: "\e74e";
}

.icon-icon:before {
  content: "\e654";
}

.icon-qudaoguanli:before {
  content: "\eaab";
}

.icon-denglurizhi:before {
  content: "\e67a";
}

.icon-caozuorizhi:before {
  content: "\e67b";
}

.icon-xitongshezhi:before {
  content: "\e607";
}

.icon-qidong:before {
  content: "\e6b0";
}

.icon-fangdajing:before {
  content: "\e60e";
}

.icon-zanting_huaban:before {
  content: "\e639";
}

.icon-jiantou_zuoyouqiehuan:before {
  content: "\e6eb";
}

.icon-resizehorizontal:before {
  content: "\e679";
}

.icon-yonghuguanli1:before {
  content: "\e630";
}

.icon-zhuye:before {
  content: "\e602";
}

.icon-xingneng:before {
  content: "\e606";
}

.icon-renwuliebiao:before {
  content: "\e60a";
}

.icon-rizhiguanli:before {
  content: "\e645";
}

.icon-hechabidui:before {
  content: "\e615";
}

.icon-wenbenshibie:before {
  content: "\e861";
}

.icon-daochu:before {
  content: "\e63a";
}

.icon-lianglie:before {
  content: "\e68c";
}

.icon-sanlie1:before {
  content: "\e68d";
}

.icon-xls:before {
  content: "\e678";
}

.icon-PDF:before {
  content: "\e600";
}

.icon-WORD:before {
  content: "\e601";
}

.icon-weibiaoti25:before {
  content: "\e62b";
}

.icon-shouqi:before {
  content: "\e605";
}

