@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rdkiqr');
  src:  url('fonts/icomoon.eot?rdkiqr#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rdkiqr') format('truetype'),
    url('fonts/icomoon.woff?rdkiqr') format('woff'),
    url('fonts/icomoon.svg?rdkiqr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-navigate_before:before {
  content: "\e408";
}
.icon-done:before {
  content: "\e876";
}
.icon-visibility:before {
  content: "\e8f4";
}
